@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License).
    font-weight: 200;
    font-style: italic;
}
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.html, body {
  font-family: 'Roboto-Medium';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
}*/

body {
  background: #F0EFED;
  background-image: -webkit-linear-gradient(top, #E5E4E5, #C2C1C2);
  background-image: linear-gradient(to bottom, #E5E4E5, #C2C1C2);
  font-family: 'ProximaNova-Regular', Helvetica neue, sans-serif;
}

.container {
  max-width: 350px;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  padding-top: 40px;
}

.card-profile {
  /*float: left;*/
  position: relative;
  top: 230px;
  left: 100px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 530px;
  background: #fff;
  border-radius: 10px;
  z-index: 1;
  padding-left: 50px;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}
.card-profile:after {
  /*content: '';*/
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  box-shadow: 0 36px 64px -34px black, 0 16px 14px -14px rgba(0, 0, 0, 0.6), 0 22px 18px -18px rgba(0, 0, 0, 0.4), 0 22px 38px -18px black;
  -webkit-transform: scaleX(0.7) scaleY(1.3) translateY(-15%);
      -ms-transform: scaleX(0.7) scaleY(1.3) translateY(-15%);
          transform: scaleX(0.7) scaleY(1.3) translateY(-15%);
  z-index: -1;
  opacity: 0.25;
}
.card-profile_visual {
  height: 68%;
  overflow: hidden;
  position: relative;
  background: -webkit-linear-gradient(top, #3b3c3f, #263d85, #172551);
  background: linear-gradient(to bottom, #3b3c3f, #263d85, #172551);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-profile_visual:before, .card-profile_visual:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  /*background: url(fr-08.jpg) no-repeat center center/cover;*/
  opacity: 0.5;
  mix-blend-mode: lighten;
}
.card-profile_visual:before {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.card-profile_user-infos {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(68% - 100px);
  color: #fff;
  text-align: center;
}
/*.card-profile_user-infos a {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #F96B4C;
  background-image: -webkit-linear-gradient(#F96B4C, #F23182);
  background-image: linear-gradient(#F96B4C, #F23182);
  display: block;
  clear: both;
  margin: auto;
  border-radius: 100%;
  top: calc(500% + 66px);
  box-shadow: 0 2px 0 #D42D78, 0 3px 10px rgba(243, 49, 128, 0.15), 0 0px 10px rgba(243, 49, 128, 0.15), 0 0px 4px rgba(0, 0, 0, 0.35), 0 5px 20px rgba(243, 49, 128, 0.25), 0 15px 40px rgba(243, 49, 128, 0.75), inset 0 0 15px rgba(255, 255, 255, 0.05);
  overflow: hidden;
}*/
.card-profile_user-infos a:after {
  content: '';
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/64/icon-add-f.svg");*/
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center center;
  left: 0;
  top: 0;
}
.card-profile_user-infos .infos_name,
.card-profile_user-infos .infos_nick {
  display: block;
  clear: both;
  padding: .5em 0;
  padding-top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 18px;
  top: 8px;
  font-weight: 800;
}
.card-profile_user-infos .infos_nick {
  top: 32px;
  font-size: 14px;
  font-weight: 300;
}
.card-profile_user-stats {
  background: #fff;
  float: left;
  width: 100%;
  height: calc(100% - 68% + 2px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card-profile_user-stats .stats-holder {
  position: absolute;
  width: 100%;
  top: calc( 70% + 4em );
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.card-profile_user-stats .user-stats {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.card-profile_user-stats .user-stats strong {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  color: #B3B1B2;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.card-profile_user-stats .user-stats span {
  font-size: 26px;
  color: #5E5E5E;
  padding: .18em 0;
  display: inline-block;
}
/*
estilos de botones div*/


#boton{
	/*padding: 10px;*/
	/*background: orange;*/
	/*width: 95px;*/
	cursor: pointer;
	/*margin-top: 10px;*/
	/*margin-bottom: 10px;*/
	/*box-shadow: 0px 0px 1px #000;*/
	/*display: inline-block;*/
}

#boton:hover{
	opacity: .8;
}

#caja{
	/*width: 100%;*/
	margin: auto;
	height: 0px;
	background: #000;
	box-shadow: 10px 10px 3px #D8D8D8;
	transition: height .4s;
}
